@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic");



body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  color: #333;
  background-color: whitesmoke;
  /* min-height: 100%; */
  /* width: max-content; */
  /* padding: 0 40px; */
}

svg {
  background-color: #01796f;
  color: whitesmoke;
}
text {
  font-weight: 600;
  font-size: 0.67rem;
}
 #legend {
  padding: 1rem;
}
  
#tooltip {
  visibility: hidden;
  width: auto;
  height: auto;
}
.cell:hover {
  fill-opacity: .4;
}